@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes blobMorph1 {
  0% {
    d: path(
      'M32.7,-53.6C43,-44.3,52.5,-36.3,62.2,-25.4C72,-14.4,82.1,-0.6,80.7,11.8C79.2,24.2,66.2,35.1,54.7,46.3C43.3,57.4,33.4,68.8,20.8,74.1C8.1,79.3,-7.3,78.5,-21.8,74.2C-36.2,69.9,-49.6,62.2,-53.6,50.4C-57.7,38.6,-52.5,22.7,-53.4,8.4C-54.4,-5.9,-61.5,-18.6,-57.6,-25.9C-53.7,-33.3,-38.8,-35.2,-27.4,-44C-15.9,-52.8,-8,-68.3,1.6,-70.9C11.2,-73.4,22.4,-62.9,32.7,-53.6Z'
    );
    transform: translate(-100, -200);
  }
  50% {
    d: path(
      'M37.9,-49.3C52.7,-49.5,70.6,-45,77.8,-34.1C85,-23.3,81.4,-6,77.4,10C73.4,26.1,68.9,41,58,46C47.1,51.1,29.6,46.2,15.6,47.9C1.6,49.6,-8.9,57.9,-19.2,58.2C-29.5,58.5,-39.5,50.7,-43.7,40.7C-47.9,30.8,-46.3,18.6,-44,8.7C-41.7,-1.2,-38.7,-8.7,-37.3,-19.1C-35.8,-29.5,-35.9,-42.7,-29.9,-46.6C-24,-50.4,-12,-44.9,-0.2,-44.6C11.6,-44.2,23.1,-49.1,37.9,-49.3Z'
    );
    transform: translate(50, 100);
  }
  100% {
    d: path(
      'M32.7,-53.6C43,-44.3,52.5,-36.3,62.2,-25.4C72,-14.4,82.1,-0.6,80.7,11.8C79.2,24.2,66.2,35.1,54.7,46.3C43.3,57.4,33.4,68.8,20.8,74.1C8.1,79.3,-7.3,78.5,-21.8,74.2C-36.2,69.9,-49.6,62.2,-53.6,50.4C-57.7,38.6,-52.5,22.7,-53.4,8.4C-54.4,-5.9,-61.5,-18.6,-57.6,-25.9C-53.7,-33.3,-38.8,-35.2,-27.4,-44C-15.9,-52.8,-8,-68.3,1.6,-70.9C11.2,-73.4,22.4,-62.9,32.7,-53.6Z'
    );
    transform: translate(100, 200);
  }
}

@keyframes blobMorph2 {
  0% {
    d: path(
      'M41.2,-63.6C48.6,-59.5,46.2,-39.8,51.2,-24.6C56.1,-9.5,68.3,1,67.9,10.3C67.4,19.6,54.3,27.7,42.9,32.7C31.6,37.7,21.9,39.7,12.1,43.6C2.4,47.5,-7.5,53.3,-20.8,56.1C-34.1,59,-50.9,58.8,-60.5,50.7C-70.1,42.7,-72.6,26.7,-76.3,10.1C-80,-6.5,-84.9,-23.7,-75.7,-30.8C-66.6,-37.8,-43.4,-34.7,-28.5,-35.4C-13.5,-36.1,-6.8,-40.5,5.1,-48.5C17,-56.4,33.9,-67.8,41.2,-63.6Z'
    );
    transform: translate(100, 10);
  }
  50% {
    d: path(
      'M32.7,-53.6C43,-44.3,52.5,-36.3,62.2,-25.4C72,-14.4,82.1,-0.6,80.7,11.8C79.2,24.2,66.2,35.1,54.7,46.3C43.3,57.4,33.4,68.8,20.8,74.1C8.1,79.3,-7.3,78.5,-21.8,74.2C-36.2,69.9,-49.6,62.2,-53.6,50.4C-57.7,38.6,-52.5,22.7,-53.4,8.4C-54.4,-5.9,-61.5,-18.6,-57.6,-25.9C-53.7,-33.3,-38.8,-35.2,-27.4,-44C-15.9,-52.8,-8,-68.3,1.6,-70.9C11.2,-73.4,22.4,-62.9,32.7,-53.6Z'
    );
    transform: translate(100, 100);
  }
  100% {
    d: path(
      'M41.2,-63.6C48.6,-59.5,46.2,-39.8,51.2,-24.6C56.1,-9.5,68.3,1,67.9,10.3C67.4,19.6,54.3,27.7,42.9,32.7C31.6,37.7,21.9,39.7,12.1,43.6C2.4,47.5,-7.5,53.3,-20.8,56.1C-34.1,59,-50.9,58.8,-60.5,50.7C-70.1,42.7,-72.6,26.7,-76.3,10.1C-80,-6.5,-84.9,-23.7,-75.7,-30.8C-66.6,-37.8,-43.4,-34.7,-28.5,-35.4C-13.5,-36.1,-6.8,-40.5,5.1,-48.5C17,-56.4,33.9,-67.8,41.2,-63.6Z'
    );
    transform: translate(200, 200);
  }
}

@keyframes blobMorph3 {
  0% {
    d: path(
      'M37.9,-49.3C52.7,-49.5,70.6,-45,77.8,-34.1C85,-23.3,81.4,-6,77.4,10C73.4,26.1,68.9,41,58,46C47.1,51.1,29.6,46.2,15.6,47.9C1.6,49.6,-8.9,57.9,-19.2,58.2C-29.5,58.5,-39.5,50.7,-43.7,40.7C-47.9,30.8,-46.3,18.6,-44,8.7C-41.7,-1.2,-38.7,-8.7,-37.3,-19.1C-35.8,-29.5,-35.9,-42.7,-29.9,-46.6C-24,-50.4,-12,-44.9,-0.2,-44.6C11.6,-44.2,23.1,-49.1,37.9,-49.3Z'
    );
  }
  50% {
    d: path(
      'M32.7,-53.6C43,-44.3,52.5,-36.3,62.2,-25.4C72,-14.4,82.1,-0.6,80.7,11.8C79.2,24.2,66.2,35.1,54.7,46.3C43.3,57.4,33.4,68.8,20.8,74.1C8.1,79.3,-7.3,78.5,-21.8,74.2C-36.2,69.9,-49.6,62.2,-53.6,50.4C-57.7,38.6,-52.5,22.7,-53.4,8.4C-54.4,-5.9,-61.5,-18.6,-57.6,-25.9C-53.7,-33.3,-38.8,-35.2,-27.4,-44C-15.9,-52.8,-8,-68.3,1.6,-70.9C11.2,-73.4,22.4,-62.9,32.7,-53.6Z'
    );
  }
  100% {
    d: path(
      'M37.9,-49.3C52.7,-49.5,70.6,-45,77.8,-34.1C85,-23.3,81.4,-6,77.4,10C73.4,26.1,68.9,41,58,46C47.1,51.1,29.6,46.2,15.6,47.9C1.6,49.6,-8.9,57.9,-19.2,58.2C-29.5,58.5,-39.5,50.7,-43.7,40.7C-47.9,30.8,-46.3,18.6,-44,8.7C-41.7,-1.2,-38.7,-8.7,-37.3,-19.1C-35.8,-29.5,-35.9,-42.7,-29.9,-46.6C-24,-50.4,-12,-44.9,-0.2,-44.6C11.6,-44.2,23.1,-49.1,37.9,-49.3Z'
    );
  }
}

.blob1 path {
  animation: blobMorph1 8s infinite alternate;
}

.blob2 path {
  animation: blobMorph2 8s infinite alternate;
}

.blob3 path {
  animation: blobMorph3 8s infinite alternate;
}

.radial-gradient-text {
  background: radial-gradient(circle, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
